@model IEnumerable<LibraSoftWeb.Models.ViewModel>
@{
    ViewData["Title"] = "Home Page";
}

@*@foreach(var item in Model)
{
    <p>@item.PageBlock.Id</p>
    <p>@item.Block.Clrtype</p>
    <p>@item.Page.Id</p>
    <p>@item.PageBlock.SortOrder</p>
    <p>@item.Block.Clrtype</p>
    @Html.Raw(@item.BlockField.Value) 
    @await Component.InvokeAsync(@item.Block.Clrtype)
}*@
    <!-- Hero Start -->
    @await Component.InvokeAsync("Hero")
    <!-- Hero End -->

@*    <!-- Partner Start -->
    @await Component.InvokeAsync("Partner")
    <!-- Partner End -->*@

    <!-- Service Start -->
    @await Component.InvokeAsync("Service")
    <!-- Service End -->

    <!-- About us Start -->
    @await Component.InvokeAsync("AboutUs")
    <!-- About us End -->

    <!-- Pricing Start -->
    @await Component.InvokeAsync("Pricing")
    <!-- Pricing End -->

@*    <!-- Clients Start -->
    @await Component.InvokeAsync("Client")
    <!-- Clients End -->*@

    <!-- Counter Start -->
    @await Component.InvokeAsync("Counter")
    <!-- Counter End -->

    <!-- MiniContact Start -->
    @await Component.InvokeAsync("MContact")
    <!-- MiniContact End -->
